@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50;
}

.swapCard {
  border-radius: 15px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-width: 0px;
  width: 65%;
  margin-left: 20%;

}

/* https://codepen.io/YoannM/pen/yyExEO */
.pixel, .pixel2 {
  color: white;
  height: auto;
  margin: 2px;
  font-family: 'Arial';
  
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  
  cursor: pointer;
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pixel:active, .pixel2:active {
  top: 2px;
}

.pixel2 {
  position: relative;
  margin: auto;  
  font-family: 'Arial';
  text-transform: uppercase;
  font-size: 25px;
  color: white;
  text-align: center;

}

.pixel2::before {
  content: "";
  top: 10px;
  bottom: 10px;
  left: -10px;
  right: -10px;
  background: rgb(220, 143, 0);
  z-index: -1;
}

.pixel2::after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: -6px;
  right: -6px;
  background: rgb(255, 198, 93);
  z-index: -1;
}

.pixel2 {
  padding: 10px 10px;
  position: relative;
  background: rgb(220, 143, 0);
  width: auto;
  z-index: 2;
}


.gradientText {
  position: relative;
}

.gradientText::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: 5px;
  border-radius: 2px;
  background: linear-gradient(111.3deg, #af5fff 9.6%, #0094d4 93.6%);
}

.gradientTextDark {
  position: relative;
}


.gradientTextDark::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: 5px;
  border-radius: 2px;
  background: linear-gradient(111.3deg, #565656 9.6%, #141515 93.6%);
}