@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Quicksand:wght@300;400;600&family=VT323&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50;
}

.swapCard {
  border-radius: 15px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-width: 0px;
  width: 65%;
  margin-left: 20%;

}

p, span {
  font-family: 'DM Sans', sans-serif;
}

h2, h5 {
  font-family: 'VT323', monospace;
}

/* https://codepen.io/YoannM/pen/yyExEO */
.pixel, .pixel2 {
  color: white;
  height: auto;
  margin: 2px;
  font-family: 'Arial';
  
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  
  cursor: pointer;
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pixel:active, .pixel2:active {
  top: 2px;
}

.pixel2 {
  position: relative;
  margin: auto;  
  font-family: 'Arial';
  text-transform: uppercase;
  font-size: 25px;
  color: white;
  text-align: center;

}

.pixel2::before {
  content: "";
  top: 10px;
  bottom: 10px;
  left: -10px;
  right: -10px;
  background: rgb(220, 143, 0);
  z-index: -1;
}

.pixel2::after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: -6px;
  right: -6px;
  background: rgb(255, 198, 93);
  z-index: -1;
}

.pixel2 {
  padding: 10px 10px;
  position: relative;
  background: rgb(88, 0, 220);
  width: auto;
  z-index: 2;
}


.gradientText {
  position: relative;
}

.gradientText::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: 5px;
  border-radius: 2px;
  background: linear-gradient(111.3deg, #af5fff 9.6%, #0094d4 93.6%);
}

.gradientTextDark {
  position: relative;
}


.gradientTextDark::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: 5px;
  border-radius: 2px;
  background: linear-gradient(111.3deg, #565656 9.6%, #141515 93.6%);
}


.btnHover {
  /* margin-top: 2%; */
  margin-left: 2%;
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  /* height: 45px; */
  width: 80px;
  text-align:center;
  border: none;
  background-size: 200% 100%;

  border-radius: 15px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btnHover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btnHover:focus {
  outline: none;
}

.btnHover.color1 {
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.btnHover.color2 {
  background-image: linear-gradient(to right, #f8c025, #ff855f, #ff7aa2, #f18b5c);
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}
.btnHover.color3 {
  background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
.btnHover.color4 {
  background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
  box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}
.btnHover.color5 {
  background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}
.btnHover.color6 {
  background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
  box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}
.btnHover.color7 {
  background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
  box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
.btnHover.color8 {
  background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
.btnHover.color9 {
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
.btnHover.color10 {
      background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
  box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
.btnHover.color11 {
     background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}
